@model List<CartonModel> 

@{
}

<div class="bg-white">
<div id="felicitaciones" class="text-center text-black">
    @Html.Raw(ViewData["msjGanador"])
    
</div>

<hr />

<div class="container text-center">
    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            <div class="col 6">


                <table class="table table-bordered border-dark border border-3 table-layout:fixed">
                    <tbody>
                        @for (int f = 0; f < 3; f++)
                        {
                            <tr>
                                @for (int c = 0; c < 9; c++)
                                {
                 
                                    if (Model[i].Numeros[f, c].Numero == 0)
                                    {
                                        <td class="tamaniocelda border-3 bg-info text-info" value="0">00</td>
                                    }
                                    else
                                    {
                                        int valor = Model[i].Numeros[f, c].Numero;
                                        if (Model[i].Numeros[f, c].Salio == false)
                                        {
                                            <td class="tamaniocelda border-3" value="@valor"><strong>@valor</strong></td>
                                        } else
                                        {
                                            <td class="tamaniocelda text-danger border-3" value="@valor"><strong>@valor</strong></td>
                                        }
                                    }
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }


    </div>
</div>

<div class="row m-2 bg-white">

   <div class="col-sm-4">
        <a class="btn btnLanzar btn-success @ViewData["classDisabled"]" asp-action="sortear" asp-controller="home">Lanzar Bolilla</a>
    </div>

    <div class="col d-inline-flex flex-row align-items-start position-relative">
            <h4 class="text-black d-inline-flex">Bolilla: </h4>
            <p class="bolilla bg-@ViewData["color"] position-absolute" style="bottom: -20.9px; left: 85px;">@ViewData["bolilla"]</p>
    </div>
</div>

   

</div>



